h1{
    text-align: center;
    
}

#button-container {
    text-align: center;
}

body {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/52/84/135794d75303c0b.jpg");
    background-color: #cccccc 
}